<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/admin/admindashboard.css">
    <link rel="stylesheet" href="../style/admin/category.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <aside data-th-replace="~{admin/admindashboard :: aside}"></aside>


    <main class="content">
        <h1>Admin Dashboard</h1>
        <div class="search-container">
            <input type="text" id="pageSearchBar" placeholder="Search categories..." class="search-bar">
        </div>
        <button onclick="openModal()">Add Category</button>

        <div id="categoryModal" class="modal" style="display: none;">
            <h2>Add Category</h2>

            <form id="categoryForm" method="post" action="/admin/admin/category" enctype="multipart/form-data">
                <input type="hidden" id="categoryId" name="categoryId">
                <input type="hidden" id="categoryImages" name="categoryImages">
                <label for="categoryName">Category Name:</label>
                <input type="text" name="categoryName" id="categoryName">

                <label for="categoryDescription">Category Description:</label>
                <input type="text" name="categoryDescription" id="categoryDescription">

                <label for="categoryImage">Category Image:</label>
                <input type="file" name="categoryImageFile" id="categoryImage"
                    accept="image/png, image/jpeg, image/jpg">

                <label for="categoryStatus">Category Status:</label>
                <select id="categoryStatus" name="categoryStatus">
                    <option value="AVAILABLE">Available</option>
                    <option value="UNAVAILABLE">Unavailable</option>
                </select>

                <input type="hidden" name="_csrf" id="" data-th-value="${_csrf.token}">
             
                <input type="submit" value="Add">
            </form>
            <button onclick="closeModal()">Cancel</button>
        </div>

        <table border="1">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Category Description</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="categoryTableBody">
                <tr data-th-each="category:${categories}">
                    <td data-th-text="${category.categoryName}"></td>
                    <td data-th-text="${category.categoryDescription}"></td>
                    <td><img data-th-src="|category/image/${category.categoryId}|" alt="" height="40"></td>
                    <td data-th-text="${category.categoryStatus}"></td>
                    <td>
                        <button class="edit-btn" data-th-onclick="openModal([[${category.categoryId}]])">Edit</button>
                        <a data-th-href="|/admin/category/delete?category=${category.categoryId}|" class="delete-btn">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>


    <script src="/script/admin_category.js"></script>
</body>

</html>