<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Managment</title>
    <link rel="stylesheet" href="/style/admin/admindashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="  /../style/admin/usermanagment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <aside data-th-replace="~{admin/admindashboard :: aside}"></aside>

    <main class="content">
        <h1>User Management</h1>
        <p>Manage platform users, edit details, or remove accounts.</p>
        <table class="user-table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Bio</th>
                <th>Phone</th>
                <th>Image</th>
                <th>Location</th>
            </tr>
            <tr data-th-each="user: ${users}">
                <td data-th-text="${user.userName}"></td>
                <td data-th-text="${user.userEmail}"></td>
                <td data-th-text="${user.userType}"></td>
                <td data-th-text="${user.userBio}"></td>
                <td data-th-text="${user.userPhone}"></td>
                <td><img data-th-src="|/client/image/${user.userId}|" alt="" width="50"></td>
                <td data-th-text="${user.location}"></td>
            </tr>
        </table>
    </main>


</body>

</html>