<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hire  Developers</title>
    <link rel="stylesheet" href="/style/client.freelancer.css">
    <link rel="stylesheet" href="/style/fragment/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header data-th-replace="~{fragment/common :: header}"></header>

    <nav data-th-replace="~{fragment/common :: nav}"></nav>

    <h1>Hire the best <span> developers</span></h1>

    <form action="/freelancer/freelancer/search">
        <section id="search">
            <input name="search" type="text" id="search-input" placeholder="Search freelancers...">
        </section>
    </form>
    
    <div class="developers-container">
        <div class="developer-card" th:each="freelancer : ${freelancers}">
            <img data-th-src="|/freelancer/image/${freelancer.userId}|" alt="User Picture" class="profile-picture">            <h3 th:text="${freelancer.userName}"></h3>
            <p class="rating" th:text="|${freelancer.rating}/5|"></p>
            <p class="rating" th:text="|Experience: ${freelancer.yearsExperience} years|"></p>
    
            <div class="skills-container">
                <div class="skills">
                    <span th:each="skill : ${#strings.arraySplit(freelancer.skills, ',')}"
                        class="bg-gray-200 text-gray-800 py-1 px-3 rounded" th:text="${skill}">
                    </span>
                </div>
            </div>
            <a data-th-href="|/freelancer/pdp?id=${freelancer.userId}|" class="see-more">See more</a>
        </div>
    </div>



    <footer data-th-replace="~{fragment/common :: footer}"></footer>
</body>

</html>