<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProConnect Admin Dashboard</title>
    <link rel="stylesheet" href="../style/admin/admindashboard.css">
    <link rel="stylesheet" href="../style/admin/category.css">
    <link rel="stylesheet" href="../style/freelancer/freelancer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="dashboard-container">
        <aside class="sidebar">
            <h2>ProConnect</h2>
            <ul>
                <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Dashboard</a></li>
                <li><a href="/freelancer/project"><i class="fas fa-project-diagram"></i> Projects</a></li>
                <li><a href="/freelancer/earning"><i class="fas fa-dollar-sign"></i>Earnings and Withdrawal</a></li>
                <li><a href=""><i class="fas fa-envelope"></i> Messages</a></li>
                <li><a href=""><i class="fas fa-briefcase"></i>Job Applications</a></li>
                <li><a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
               
            </ul>
        </aside> 
   </div>
   <main class="content">
    <header>
        <h1>Freelancer Dashboard</h1>
    </header>
    <div class="search-container">
        <input type="text" id="pageSearchBar" placeholder="Search categories..." class="search-bar">
    </div>
    
    <section class="stats">
        <div class="stat-box">
            <h3>Active Projects</h3>
            <i class="fas fa-briefcase card-icon"></i>
            <p>5</p>
        </div>
        <div class="stat-box">
            <h3>Pending Payments</h3>
            <i class="fas fa-dollar-sign card-icon"></i>
            <p>$2,300</p>
        </div>
        <div class="stat-box">
            <h3>Freelancers Hired</h3>
            <i class="fas fa-file-alt card-icon"></i>
            <p>12</p>
        </div>

        <div class="star-box">
           <h3>Reviews</h3>
            <i class="fas fa-star card-icon"></i>
            <p>4.8 ★</p>
        </div>
    </section>

</body>
</html>     